.subscribe {
    margin: 0;
    padding: 70px 0;
    background: #F2F3F6;
    &__content-box {
        @include flex(center, center);
        flex-direction: column;
        gap: 30px;
    }
}
@media (min-width: 1200px) {
    .subscribe {
        padding: 90px 0;
        &__content-box {
            gap: 40px;
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
    }
}